<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title БЛОКНОТЫ</title>

    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/font-awesome.css")
    @Styles.Render("~/Content/jquery.fancybox.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>



<body class="body">
    <div class="scrol pre-scrollable">
        <div class="navbar navbar-header navbar-fixed-top">
            <ul class="navbar-nav">
                <li class="NavbarLi">
                    @Html.ActionLink("Главная", "About", "Home")
                </li>
                <li class="NavbarLi">
                    @Html.ActionLink("Галерея работ", "Product", "Home")
                </li>
                <li class="NavbarLi">
                    @Html.ActionLink("Обо мне", "Gallery", "Home")
                </li>
                <li class="NavbarLi">
                    @Html.ActionLink("Как заказать", "Contact", "Home")
                </li>
            </ul>
        </div>

        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
