<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="@Url.Content("~/Scripts/jquery-3.1.1.js")" type="text/javascript"></script>
    
    <title>@ViewBag.Title БЛОКНОТЫ</title>

    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/font-awesome.css")
    @Styles.Render("~/Content/jquery.fancybox.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>



<body class="body">

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <div class="navbar navbar-header navbar-fixed-top">
        <ul class="navbar-nav">
            <li class="NavbarLi">
                <a class="navText" href="#Section1">Главная</a>
            </li>
            <li class="NavbarLi">
                <a class="navText" href="#Section2">Галерея работ</a>
            </li>
            <li class="NavbarLi">
                <a class="navText" href="#Section3">Обо мне</a>
            </li>
            <li class="NavbarLi">
                <a class="navText" href="#Section4">Как заказать</a>
            </li>
        </ul>
    </div>


</body>
</html>
