<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title БЛОКНОТЫ</title>


    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/Content/font-awesome.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>



<body class="body">
    <div class="navbar-header navbar-fixed-top">
        <div>
            <a href="/home/Index">
                <img src="~/Source/title.bmp" alt="Logo" class="img-responsive pic" />
            </a>

        </div>
        <div class="navbar  navbar-inverse navbar-collapse collapse">

            <div class="container">
                <ul class="nav navbar-nav NavbarPadding">
                    <li class="NavbarLi">@Html.ActionLink("О ПРОЕКТЕ", "About", "Home")</li>
                    <li class="NavbarLi">@Html.ActionLink("ИЗДЕЛИЯ", "Product", "Home")</li>
                    <li class="NavbarLi">@Html.ActionLink("ГАЛЕРЕЯ РАБОТ", "Gallery", "Home")</li>
                    <li class="NavbarLi">@Html.ActionLink("КАК ЗАКАЗАТЬ", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="navbar-fixed-bottom">
        <div class="container body-content text-center">

            <footer>
                <hr />
                <a class="btn Icon">
                    <i class="fa fa-3x fa-facebook-official" aria-hidden="true"></i>
                </a>
                <a class="btn Icon">
                    <i class="fa fa-3x fa-vk" aria-hidden="true"></i>
                </a>

                <a class="btn Icon">
                    <i class="fa fa-3x fa-instagram" aria-hidden="true"></i>
                </a>

                <a class="btn Icon">
                    <i class="fa fa-3x fa-envelope-o" aria-hidden="true"></i>
                </a>

                <a class="btn Icon">
                    <i class="fa fa-3x fa-skype" aria-hidden="true"></i>
                </a>
                <a class="btn Icon">
                    <i class="fa fa-3x fa-phone-square" aria-hidden="true"></i>
                </a>
            </footer>
        </div>
    </div>



    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
