<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>@ViewBag.Title БЛОКНОТЫ</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

 

<body  data-spy="scroll" data-target=".navbar" data-offset="50">
   
    <div class="navbar-fixed-top">
        <div class="text-center">
            <img src="~/Source/title.bmp" alt="Logo" class="img-responsive" />
        </div>
        <div class="navbar navbar-inverse">
            <div class="container">
                

                @*<div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>*@

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @*<li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                        <li>@Html.ActionLink("О программе", "About", "Home")</li>
                        <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>*@
                        <li><a href="#sectionAbout">О проекте</a></li>
                        <li><a href="#sectionProduct">Изделия</a></li>
                        <li><a href="#sectionContact">Как связаться</a></li>
                    </ul>

                    @*@Html.Partial("_LoginPartial")*@
                </div>
            </div>
        </div>

        @*<div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
            </footer>
        </div>*@
    </div>
    
    <div id="sectionAbout">
        <h1>sectionAbout</h1>
        <p>Try to scroll this page and look at the navigation bar while scrolling!</p>

        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
        <p>Use this area to provide additional information.</p>
    </div>

    <div id="sectionContact">
        <h1>sectionContact</h1>
        <p>Try to scroll this page and look at the navigation bar while scrolling!</p>

        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>

    <div id="sectionProduct">
        <h1>sectionAbout</h1>
        <p>Try to scroll this page and look at the navigation bar while scrolling!</p>

        <p>Hello world</p>
    </div>

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
